@use '../_colors'

.category-content
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 20px
  grid-row-gap: 20px
  padding: 40px
  align-self: center

.category-add-button
  background-color: colors.$colorRed
  width: 300px
  height: 170px
  border-radius: 7px
  color: colors.$colorWhite

.category-video
  background-color: blue
  width: 300px
  height: 170px
  border-radius: 7px

.category-img
  width: 300px
  height: 170px  
  border-radius: 7px
  object-fit: cover
  position: relative
  top: 0
  left: 0

.category-trash
  width: 35px
  height: 35px  
  border-radius: 7px
  background-color: colors.$colorWhite
  padding: 7px 

.category-pen
  width: 35px
  height: 35px  
  border-radius: 7px
  background-color: colors.$colorWhite
  padding: 5px

.category-plus
  width: 35px
  height: 35px  

.category-add-block
  display: flex
  flex-direction: column
  align-items: center
  

.category-icon-block
  display: flex
  gap: 30px
  flex-direction: row
  z-index: 200  
  position: relative
  bottom: 45px
  padding: 0 10px 0 10px
  justify-content: space-between


.tooltip 
  position: relative
  display: inline-block

.tooltip .tooltiptext 
  visibility: hidden
  width: 67px
  background-color: black
  color: #fff
  text-align: center
  border-radius: 6px
  padding: 5px 0
  position: absolute
  z-index: 1
  bottom: 150%
  left: 170%
  margin-left: -70px


.tooltip .tooltiptext::after 
  content: ""
  position: absolute
  top: 100%
  left: 50%
  margin-left: -5px
  border-width: 5px
  border-style: solid
  border-color: black transparent transparent transparent


.tooltip:hover .tooltiptext 
  visibility: visible