@use '../_colors'

@media (max-width: 749px) 
  .category-content
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-column-gap: 20px
    grid-row-gap: 20px
    padding: 15px 40px  40px 40px
    align-self: center

  .category-title-block
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: fit-content
    padding-top: 60px

@media (min-width: 750px) and (max-width: 1099px) 
  .category-content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 20px
    grid-row-gap: 20px
    padding: 15px 40px  40px 40px
    align-self: center

  .category-title-block
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: fit-content

@media (min-width: 1100px) and (max-width: 1499px)
  .category-content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 20px
    grid-row-gap: 20px
    padding: 15px 40px  40px 40px
    align-self: center

  .category-title-block
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: fit-content

@media (min-width: 1500px)
  .category-content
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 20px
    grid-row-gap: 20px
    padding: 15px 40px  40px 40px
    align-self: center

  .category-title-block
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: fit-content

.category-add-button
  background-color: colors.$colorRed
  width: 300px
  height: 170px
  border-radius: 7px
  color: colors.$colorWhite

.category-video
  background-color: black
  width: 300px
  height: 170px
  border-radius: 7px

.category-img
  width: 300px
  height: 170px  
  border-radius: 7px
  object-fit: cover
  position: relative
  top: 0
  left: 0

.category-trash
  width: 35px
  height: 35px  
  border-radius: 7px
  background-color: colors.$colorWhite
  padding: 7px 

.category-pen
  width: 35px
  height: 35px  
  border-radius: 7px
  background-color: colors.$colorWhite
  padding: 5px

.category-plus
  width: 35px
  height: 35px  

.category-add-block
  display: flex
  flex-direction: column
  align-items: center
  

.category-icon-block
  display: flex
  gap: 30px
  flex-direction: row
  z-index: 200  
  position: relative
  bottom: 45px
  padding: 0 10px 0 10px
  justify-content: space-between


.tooltip 
  position: relative
  display: inline-block

.tooltip .tooltiptext 
  visibility: hidden
  width: 67px
  background-color: black
  color: #fff
  text-align: center
  border-radius: 6px
  padding: 5px 0
  position: absolute
  z-index: 1
  bottom: 150%
  left: 170%
  margin-left: -70px


.tooltip .tooltiptext::after 
  content: ""
  position: absolute
  top: 100%
  left: 50%
  margin-left: -5px
  border-width: 5px
  border-style: solid
  border-color: black transparent transparent transparent


.tooltip:hover .tooltiptext 
  visibility: visible

.category-title
  display: flex
  justify-content: flex-start
  padding-left: 40px
  font-weight: bold

.category-popup
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 330px
  height: 130px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s
  border: 2px solid colors.$colorRed
  border-radius: 7px 
  color: colors.$colorBlack
  display: flex
  flex-direction: column
  justify-content: center

.category-modal
  position: fixed
  z-index: 500
  padding-top: 300px
  left: 0%
  top: 0%
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.category-modal-buttons
  display: flex
  flex-direction: row
  gap: 20px
  justify-content: center
  padding-top: 10px
 
.category-modal-button
  background-color: #dfdfdf
  border-radius: 3px
  padding: 5px

.category-modal-button:hover
  background-color: #f87575

