@use '../_colors'

.episode-pen
  width: 35px
  height: 35px
  border-radius: 7px
  background-color: colors.$colorGreen
  padding: 5px

.episode-trash
  width: 35px
  height: 35px
  border-radius: 7px
  background-color: colors.$colorRedLight
  padding: 5px

.episode-card
  background-color: colors.$colorDarkGrey
  color: colors.$colorWhite