@use './basic/button' as button
@use './basic/buttonSmall' as button-small

@mixin button
@mixin button-small

@media (max-width: 499px) 
  .login-grid
    display: grid
    grid-template-rows: auto 
    grid-template-columns:  20px auto 20px
    min-height: 100vh

  .login-content
    display: flex
    justify-content: flex-start
    grid-column: 2 / 3
    grid-row: 1 / 2
    flex-direction: column
    align-items: center
    padding-top: 20px
    gap: 40px

  .login-form
    display: flex
    justify-content: center
    flex-direction: column
    width: 80%
    gap: 20px

  .login-block
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 10px
    border-top: 1px dotted #4e4545 
    width: 80%
    padding-top: 10px

@media (min-width: 500px) and (max-width: 699px)
  .login-grid
    display: grid
    grid-template-rows: auto 
    grid-template-columns:  100px auto 100px
    min-height: 100vh

  .login-content
    display: flex
    justify-content: flex-start
    grid-column: 2 / 3
    grid-row: 1 / 2
    flex-direction: column
    align-items: center
    padding-top: 20px
    gap: 40px

  .login-form
    display: flex
    justify-content: center
    flex-direction: column
    width: 80%
    gap: 20px

  .login-block
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 10px
    border-top: 1px dotted #4e4545 
    width: 80%
    padding-top: 10px

@media (min-width: 700px) and (max-width: 999px)
  .login-grid
    display: grid
    grid-template-rows: auto 
    grid-template-columns:  200px auto 200px
    min-height: 100vh

  .login-content
    display: flex
    justify-content: flex-start
    grid-column: 2 / 3
    grid-row: 1 / 2
    flex-direction: column
    align-items: center
    padding-top: 20px
    gap: 40px

  .login-form
    display: flex
    justify-content: center
    flex-direction: column
    width: 80%
    gap: 20px

  .login-block
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 10px
    border-top: 1px dotted #4e4545 
    width: 80%
    padding-top: 10px

@media (min-width: 1000px)
  .login-grid
    display: grid
    grid-template-rows: auto 
    grid-template-columns:  250px auto 250px
    min-height: 100vh

  .login-content
    display: flex
    justify-content: flex-start
    grid-column: 2 / 3
    grid-row: 1 / 2
    flex-direction: column
    align-items: center
    padding-top: 20px
    gap: 40px

  .login-form
    display: flex
    justify-content: center
    flex-direction: column
    width: 30%
    gap: 20px

  .login-block
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 10px
    border-top: 1px dotted #4e4545 
    width: 50%
    padding-top: 10px


input[type=email]
  border-radius: 10px
  height: 30px
  width: 100%

input[type=password]
  border-radius: 10px
  height: 30px
  width: 100%

.login-title
  text-align: center
  
.login-button
  display: flex
  justify-content: center

