@media (max-width: 499px)
  .lougedRoutes-grid
    display: grid
    grid-template-rows: auto 200px
    grid-template-columns:   100% 
    min-height: 100vh

@media (min-width: 500px) and (max-width: 999px)
  .lougedRoutes-grid
    display: grid
    grid-template-rows: auto 200px
    grid-template-columns:   100% 

@media (min-width: 1000px)  
  .lougedRoutes-grid
    display: grid
    grid-template-rows: auto 200px
    grid-template-columns:  100% 
    min-height: 100vh

.lougedRoutes-content
  display: flex
  justify-content: center
  grid-column: 1 / 2
  grid-row: 1 / 2
  background-color: black

.lougedRoutes-footer
  display: flex
  justify-content: center
  grid-column: 1 / 2
  grid-row: 2 / 3