@use '_colors'

.serched-video-content
  display: flex
  background-color: colors.$colorBlack
  width: 100%
  justify-content: flex-start
  padding: 40px
  color: colors.$colorWhite
  padding-top: 100px
  flex-direction: column
  align-items: center
  gap: 20px

.serched-video-img
  height: 320px
  width: 170px
  object-fit: cover
