@use '_colors' 

.user-category-content
  overflow-y: scroll

.user-category-button
  width: 150px
  height: 40px
  background-color: colors.$colorWhite
  color: colors.$colorBlack
  border-radius: 5px
  padding: 3px

.user-category-icon
  border-radius: 50%
  border: 1px solid colors.$colorGrey
  height: 40px
  width: 40px
  padding: 5px

.user-category-buttons-block
  display: flex
  flex-direction: row
  gap: 10px
  align-items: center
  padding: 40px

.user-category-match
  color: colors.$colorGreen
  font-weight: bold

.user-category-match-year
  display: flex
  flex-direction: row
  gap: 10px
  padding: 0 40px 0 40px

.user-category-series
  display: flex
  flex-direction: row
  margin: 0 40px 0 40px  
  gap: 20px

.user-category-img
  width: 130px
  height: 80px
  object-fit: cover

.user-category-series:hover
  background-color: colors.$colorGrey

.user-category-seasons
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0 40px 0 40px

.user-category-series-content
  display: flex
  flex-direction: column

.user-category-block
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 40px
  grid-row-gap: 40px
  padding: 20px 40px 40px 40px
  align-self: center

.user-category-play
  width: 40px
  height: 40px
  border-radius: 50%
  background-color: colors.$colorWhite
  padding: 8px

.user-category-plus
  width: 40px
  height: 40px
  border-radius: 50%
  border: 1px solid colors.$colorGrey
  padding: 5px

  




