@use '_colors' 

.user-category-button
  width: 100px
  height: 30px
  background-color: colors.$colorWhite
  color: colors.$colorBlack
  border-radius: 5px

.user-category-icon
  border-radius: 50%
  border: 1px solid colors.$colorGrey
  height: 40px
  width: 40px
  padding: 5px

