.card-img
  width: 350px
  height: 197px
  object-fit: cover
  cursor: pointer
  border-radius: 5px

.card-img:hover
  width: 480px
  height: 270px
  object-fit: cover
  cursor: pointer
  border-radius: 5px
